<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
    <title>The secret to glowing skin  </title>
</head>

<body class="bg-red-300 text-white">
    <header class="z-10 sticky top-0 bg-red-900 py-5"> 
		<nav class="w-9/12 flex flex-row mx-auto">
			<div class="uppercase text-lg basis-1/4"> 
				<a href="#hero" class="hover:opacity-75"> 
                    <span class="font-extrabold text-2xl text-white">IIN</span>
                </a>
            <div class="basis-1/4 flex justify-end">
                <span class="hidden dark:inline end:0">
                    <svg viewBox="0 0 20 20" fill="white" class="w-6 h-6">
                        <path fill="white"
                            d="M12.443,9.672c0.203-0.496,0.329-1.052,0.329-1.652c0-1.969-1.241-3.565-2.772-3.565S7.228,6.051,7.228,8.02c0,0.599,0.126,1.156,0.33,1.652c-1.379,0.555-2.31,1.553-2.31,2.704c0,1.75,2.128,3.169,4.753,3.169c2.624,0,4.753-1.419,4.753-3.169C14.753,11.225,13.821,10.227,12.443,9.672zM10,5.247c1.094,0,1.98,1.242,1.98,2.773c0,1.531-0.887,2.772-1.98,2.772S8.02,9.551,8.02,8.02C8.02,6.489,8.906,5.247,10,5.247zM10,14.753c-2.187,0-3.96-1.063-3.96-2.377c0-0.854,0.757-1.596,1.885-2.015c0.508,0.745,1.245,1.224,2.076,1.224s1.567-0.479,2.076-1.224c1.127,0.418,1.885,1.162,1.885,2.015C13.961,13.689,12.188,14.753,10,14.753zM10,0.891c-5.031,0-9.109,4.079-9.109,9.109c0,5.031,4.079,9.109,9.109,9.109c5.031,0,9.109-4.078,9.109-9.109C19.109,4.969,15.031,0.891,10,0.891zM10,18.317c-4.593,0-8.317-3.725-8.317-8.317c0-4.593,3.724-8.317,8.317-8.317c4.593,0,8.317,3.724,8.317,8.317C18.317,14.593,14.593,18.317,10,18.317z">
                        </path>
                    </svg>
                </span>
            </div>
        </nav>
    </header>

    <main class="relative -top-32">
        <div class="flex mx-auto w-5/6 flex-row items-start py-40 text-black">
            <div id="app" class="container mx-auto h-full">
                <div class="flex px-6 my-12 h-full">
                    <div class="px-10">
                        <h2 class="text-3xl font-bold mb-4">Pilihan</h2>
                        <div class="grid grid-cols-4 gap-4 items-center">
                            <div v-for="(product, index) in products" :key="index" class="border p-4 rounded-md">
                                <div class="relative w-24 h-24 items-center overflow-hidden">
                                    <img :src="product.image" alt="Product Image" class="absolute top-0 left-0 w-full h-full object-cover">
                                </div>
                                <div class="font-semibold py-1">{{ product.name }}</div>
                                <div class="text-gray-600 font-semibold py-1">Rp {{ formatNumber(product.price) }}</div>
                                <button @click="addToCart(product)" class="mt-2 bg-teal-500 text-white py-1 px-4 rounded-lg">Add</button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="px-10 bg-teal-100 rounded-lg py-10">
                        <h1 class="text-3xl font-bold mb-4">Keranjang</h1>
                        <div v-if="cart.length === 0">
                        </div>
                        <div v-else>
                            <ul>
                                <li v-for="(item, index) in cart" :key="index" 
                                class="border p-4 rounded-md mb-2 flex justify-between items-center">
                                    <div class="flex items-center">
                                        <img :src="item.image" alt="Product Image"
                                            class="mr-2 rounded-md w-16 h-16 object-cover">
                                        <div class="px-5">
                                            <div class="font-semibold">{{ item.name }}</div>
                                            <div class="text-gray-600 font-semibold">Rp {{ formatNumber(item.price) }}</div>
                                        </div>
                                    </div>
                                    <div class="flex items-center">
                                        <button @click="removeFromCart(index)"
                                            class="mr-2 bg-red-500 text-white px-4 rounded-lg">-</button>
                                        {{ item.quantity }}
                                        <button @click="addToCart(item, true)"
                                            class="ml-2 bg-teal-500 text-white px-4 rounded-lg">+</button>
                                    </div>
                                </li>
                            </ul>
                            <div class="grid grid-cols-2 gap-4">
                                <div class="mt-4 font-bold">
                                    <p>Total</p>
                                    <p v-if="wallet !== ''">Bayar</p>
                                    <p v-if="wallet !== '' && wallet >= getTotal()" class="text-teal-900">Kembalian</p>
                                    <p v-if="wallet !== '' && wallet < getTotal()" class="text-red-500">Dana tidak mencukupi</p>
                                </div>
                                <div class="mt-4 font-bold">
                                    <p>: Rp {{ formatNumber(getTotal()) }}</p>
                                    <p v-if="wallet !== ''">: Rp {{ formatNumber(wallet) }}</p>
                                    <p v-if="wallet !== '' && wallet >= getTotal()" class="text-teal-900">: Rp {{ formatNumber(wallet - getTotal()) }}</p>
                                    <p v-if="wallet !== '' && wallet < getTotal()" class="text-red-500"></p>
                                </div>
                            </div>
                        </div>
                        <div class="flex justify-center pt-10">
                            <p class="flex justify-center py-2 px-10 bg-teal-600 text-white rounded-lg">Masukkan Dana</p>
                        </div>
                        <div class="flex justify-center pt-10 ">
                            <button @click="clearCart"> <b>Hapus Semua</b>  </button>
                        </div>
                        <div class="grid grid-cols-3 gap-2 py-5">
                            <div v-for="(item, index) in addWallet" :key="index" class="flex items-center justify-center">
                                <button @click="addAmount(item.amount)" class="bg-teal-500 text-white py-2 px-4 rounded-lg mb-2 w-full">Rp {{ formatNumber(item.amount) }}</button>
                            </div>
                            <div class="flex items-center justify-center">
                                <button @click="resetWallet" class="bg-teal-800 text-white py-2 px-4 rounded-lg mb-2 w-full">Reset</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class= "bg-red-900 text-center pt-10 pb-10 font-mono -mt-20">        
        <span class="text-sm text-slate-50">
            2023 Indi Sari. All rights reserved
        </span>
    </footer>
    <script src="js/Produk.js"></script>
</body>
</html>